* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

:root {
    --primary-color: #fa057b;
    --head-font: "Saira Semi Condensed", sans-serif;
    --secondary-font: "inter", sans-serif;
    --date-color: #75778D;
}

html,
body {
    font-family: "inter", sans-serif;
    background-color: #E5E5E5;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

ul li {
    list-style: none;
}

.black {
    padding: 5px 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.black__left a {
    color: white;
    font-size: 13px;
}

.black .common {
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

.black__right a {
    color: white;
}

.logo__img {
    height: 30px;
    width: 190px;
}

.white {
    font-family: var(--head-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 30px;
}

.font-upper {
    text-transform: uppercase;
}

.white__left {
    display: flex;
    gap: 60px;
}

.white__link {
    display: inline;
}

.white__link {
    font-weight: 600;
    /* color: green; */
    margin: 0 10px;
    font-size: 16px;
}

.link:hover {
    color: var(--primary-color);
}

.white__common-style {
    display: flex;
    gap: 20px;
    align-items: center;
}

.white__link {
    color: black;
}

.mg_bottom {
    margin-bottom: 60px;
}


/* section start from here */
.article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2px;

}

.article__common {
    position: relative;
}

.article__detail {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
}

.font-color {
    color: #CCCCCC;
}

.article__detail a {
    background-color: var(--primary-color);
    width: fit-content;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: 500;
}

.article__detail h1 {
    font-size: 33px;
    font-weight: 600;
    font-family: var(--head-font);
}

.article__head h1 {
    font-size: 27.3px;
}

.article__date {
    font-size: 12px;
}

.article__first {
    grid-row: span 2;
}

/* wrapper class start */
.wrapper {
    font-family: var(--head-font);
    display: flex;
    flex-direction: column;
}

.padding-item {
    padding: 0 175px 0 160px;
}

.head {
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 600;
}

.wrapper__trend {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 40px;
}

.mg_top {
    margin-top: 30px;
}

.name {
    font-size: 21px;
    font-weight: 600;
    color: black;
}

.name:hover {
    color: var(--primary-color);
}

.trend-first p {
    font-size: 12px;
    font-family: var(--secondary-font);
}

.bright-img {
    height: 200px;
}


.my_img_brightness {
    filter: brightness(0.75);
}
.my_img_brightness:hover {
    transition: 1s ease;
    filter: brightness(1);
}

.editor-picks-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    align-items: start;
}

.editor__left {
    padding-right: 50px;

}

.editor__left__item {
    display: flex;
    border-bottom: 1px solid gray;
}

.editor__img {
    height: 200px;
    width: 250px;
    padding-bottom: 25px;
}

.detail--font {
    font-size: 12px;
    letter-spacing: 1px;
}

.editor__left__detail {
    grid-column: span 2;
    padding: 0 20px;
}

.item__name {
    font-weight: 500;
    padding: 0 5px;
    color: black;
}

.item__icon {
    padding-left: 20px;
    color: black;
}


.editor__left__item:last-child {
    border: none;
}

.editor__img--last {
    width: 400px;
}

.editor__right {
    position: sticky;
    top: 0px;
}

.ces {
    font-family: var(--head-font);
}

.ces__detail {
    height: 500px;
    object-fit: cover;
}

.ces__img {
    object-fit: cover;
}

.ces__title {
    font-size: 28px;
    font-family: var(--head-font);
}

.gadget {
    padding-top: 45px;
    padding-bottom: 20px;
    background-color: #DBDBDB;
}

.gadget__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 20px;
}

.gadget__detail {
    font-size: 18px;
    margin-top: 10px;
    font-family: var(--head-font);

}

.last-section {
    padding-top: 90px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.last__items__left {
    padding: 0 80px;
}

.last__items__right {
    height: 600px;
    position: sticky;
    border: none;
    top: 30px;
}

.footer {
    display: flex;
    background-color: black;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__icon {
    color: white;
    margin: 30px 3px;
    padding: 15px;
    background-color: #191919;
    border-radius: 100%;
}
.footer__quicklink {
    text-transform: uppercase;
}
.footer__icon:hover {
        color: var(--primary-color);
}
.footer__links {
    color: white;
    padding: 0 10px;
    font-weight: 600;
    font-size: 13px;
}
.footer__copyright {
    color: white;
}
.footer__message {
    color: #CCCCCC;
    font-size: 13px;
}
.footer__copyright__detail {
    color: #655B54;
    font-size: 13px;
}