.partnership {
    @include d-flex($flex-direction: column, $gap: 1rem, $align-item: center);
    margin-top: 3rem;
    @include padding(0, 8rem);
    .partnership__head {
        line-height: 3rem;
        text-align: center;
        .partnership__head__con {
            font-size: 32px;
        }
        .partnership__head__sub {
            font-size: 18px;
        }
    }
    .partnership__image {
        text-align: center;
        width: 750px;
        height: 300px;
    }
}