@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
}

.partnership {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
  padding: 0 8rem 0 8rem;
}
.partnership .partnership__head {
  line-height: 3rem;
  text-align: center;
}
.partnership .partnership__head .partnership__head__con {
  font-size: 32px;
}
.partnership .partnership__head .partnership__head__sub {
  font-size: 18px;
}
.partnership .partnership__image {
  text-align: center;
  width: 750px;
  height: 300px;
}

.futures {
  padding: 8rem 8rem 8rem 8rem;
  background-color: #E0DFE4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.futures .left {
  width: 420px;
}
.futures .left .head {
  width: 250px;
  font-size: 32px;
  font-weight: 300;
  color: black;
}
.futures .left p {
  font-size: 18px;
  margin-top: 1.5rem;
  color: rgb(111, 101, 151);
}
.futures .right form {
  text-align: center;
}
.futures .right form h3 {
  font-size: 1.5rem;
}
.futures .right form input::-webkit-input-placeholder {
  color: black;
}
.futures .right form input::-moz-placeholder {
  color: black;
}
.futures .right form input:-ms-input-placeholder {
  color: black;
}
.futures .right form input::-ms-input-placeholder {
  color: black;
}
.futures .right form input::placeholder {
  color: black;
}
.futures .right form .form__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.futures .right form .form__num .num {
  width: 90px;
  text-align: center;
  margin-right: 1rem;
}
.futures .right form .form__common {
  border: 1px solid #867FCC;
  display: block;
  width: 100%;
  padding: 0.8rem 0.9rem 0.8rem 0.9rem;
  border-radius: 0.6rem;
  margin-top: 1.5rem;
  background-color: white;
  font-size: 1.1rem;
}
.futures .right form .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.futures .right form .check p {
  margin-left: 1rem;
  font-size: 14px;
  font-weight: 500;
}
.futures .right form .check p a {
  color: #867FCC;
}
.futures .right form .form__btn {
  margin-top: 1rem;
  border: 0;
  color: white;
  background-color: #0E0042;
  border-radius: 50px;
  font-size: 16px;
  padding: 0.7rem 2rem 0.7rem 2rem;
}
.futures .right form .form__btn i {
  margin-left: 10px;
}
.futures .right form .form__btn:hover {
  background-color: #867FCC;
  color: white;
}
.futures .right form .form__btn:hover {
  background-color: #0E0042;
}

.where__you__go {
  padding: 0 130px 0 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  margin-top: 9rem;
}
.where__you__go .where__you__detail {
  text-align: center;
  line-height: 2rem;
  width: 850px;
}
.where__you__go .where__you__detail .where__you__head {
  font-size: 32px;
  font-size: 300;
}
.where__you__go .where__you__detail p {
  font-size: 18px;
}
.where__you__go .where__you__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.where__you__go .where__you__content .where__you__item {
  background-color: white;
  border: 1px solid rgb(210, 204, 204);
  border-radius: 1.5rem;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.where__you__go .where__you__content .where__you__item .you__item__image {
  height: 210px;
  width: 405px;
}
.where__you__go .where__you__content .where__you__item .you__item__image img {
  height: 100%;
  width: 100%;
}
.where__you__go .where__you__content .where__you__item .item__detail {
  margin: 1rem 2rem;
  padding-bottom: 1rem;
}
.where__you__go .where__you__content .where__you__item .item__detail p {
  margin-bottom: 1rem;
}
.where__you__go .where__you__content .where__you__item .item__detail a {
  color: #867FCC;
  letter-spacing: 0.1rem;
}
.where__you__go .where__you__content .where__you__item .item__detail a i {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: 2px;
}
.where__you__go .where__you__content .where__you__item:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.where__you__go .where__you__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.where__you__go .where__you__bottom p {
  font-size: 18px;
}
.where__you__go .where__you__bottom a {
  border: 0;
  color: #867FCC;
  background-color: white;
  border-radius: 50px;
  font-size: 16px;
  padding: 1rem 2rem 1rem 2rem;
  border: 1px solid #867FCC;
}
.where__you__go .where__you__bottom a i {
  margin-left: 10px;
}
.where__you__go .where__you__bottom a:hover {
  background-color: #867FCC;
  color: white;
}
.where__you__go .where__you__bottom a i {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.education {
  margin-top: 3rem;
  padding: 3rem 8rem 3rem 8rem;
  background-color: #F5F4FF;
}
.education .education__head {
  line-height: 3rem;
  text-align: center;
}
.education .education__head .education__head__top {
  font-size: 32px;
  font-weight: 300;
}
.education .education__head .education__head__sub {
  font-size: 18px;
  color: rgb(111, 101, 151);
}
.education .education__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.4rem;
  color: white;
  margin: 1rem 0;
}
.education .education__content .education__content_item {
  border-radius: 20px;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #867FCC;
}
.education .education__content .education__content_item .quote {
  font-size: 3rem;
}
.education .education__content .education__content_item .education__content__des {
  font-weight: 300;
  line-height: 24px;
}
.education .education__content .education__content_item .education__content__author {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.education .education__content .education__content_item .education__content__author img {
  height: 50px;
  width: 50px;
}
.education .education__content .education__content_item .education__content__author .author__name .author {
  font-size: 20px;
}

.book_consul {
  margin-top: 10rem;
  background-color: #F5F4FF;
  padding: 80px 130px 80px 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0px;
  position: relative;
}
.book_consul .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  height: 200px;
  width: 43%;
  line-height: 30px;
}
.book_consul .left h2 {
  font-size: 24px;
  font-weight: 300;
}
.book_consul .left .left_span {
  font-size: 16px;
  color: rgb(111, 101, 151);
}
.book_consul .left .left__btn {
  border: 0;
  color: white;
  background-color: #0E0042;
  border-radius: 50px;
  font-size: 15px;
  padding: 15px 20px 15px 20px;
}
.book_consul .left .left__btn i {
  margin-left: 10px;
}
.book_consul .left .left__btn:hover {
  background-color: #867FCC;
  color: white;
}
.book_consul .book__consul__arrow {
  background-color: #F5F4FF;
}
.book_consul .book__consul__arrow .right__right i {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  top: 45%;
  right: 100px;
  font-size: 25px;
}
.book_consul .book__consul__arrow .right__left {
  background-color: #F5F4FF;
}
.book_consul .book__consul__arrow .right__left i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 45%;
  left: 870px;
  font-size: 25px;
}
.book_consul .right {
  overflow: hidden;
  height: 300px;
  width: 500px;
}
.book_consul .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0px;
  -webkit-animation: animate 4s infinite linear;
          animation: animate 4s infinite linear;
}
.book_consul .right ul li a img {
  height: 200px;
  width: 200px;
}
.book_consul .right ul li:hover + * {
  opacity: 0.5;
}
.book_consul .right ul li:has(+ *:hover) {
  opacity: 0.5;
}

.take_counsellor {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  padding: 0 130px 0 130px;
}
.take_counsellor .take__counsellor__video {
  height: 300px;
  width: 100%;
  overflow: hidden;
}
.take_counsellor .take__counsellor__video video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.take_counsellor .take__counsellor__detail .take__counsellor__head {
  font-size: 24px;
  margin-bottom: 10px;
}
.take_counsellor .take__counsellor__detail .left__btn {
  margin-top: 20px;
  border: 0;
  color: white;
  background-color: #0E0042;
  border-radius: 50px;
  font-size: 16px;
  padding: 20px 30px 20px 30px;
}
.take_counsellor .take__counsellor__detail .left__btn i {
  margin-left: 10px;
}
.take_counsellor .take__counsellor__detail .left__btn:hover {
  background-color: #867FCC;
  color: white;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: translateX(-100px) translateZ(20px);
            transform: translateX(-100px) translateZ(20px);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: translateX(-100px) translateZ(20px);
            transform: translateX(-100px) translateZ(20px);
  }
}
.hero {
  margin: 1.5rem 0;
  height: 100vh;
  text-align: center;
  line-height: 3.5rem;
  padding: 0 70px 0 70px;
  background-color: white;
}
.hero .hero__skyla {
  position: fixed;
  right: 20px;
  bottom: 90px;
  z-index: 1;
}
.hero .hero__skyla .hero__skyla__items {
  position: relative;
  height: 55px;
  width: 55px;
}
.hero .hero__skyla .hero__skyla__items .skyla {
  height: 55px;
  width: 55px;
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  z-index: 1;
}
.hero .hero__skyla .hero__skyla__items .hero__circle {
  position: absolute;
  height: calc(100% + 5px);
  width: calc(100% + 5px);
  border-radius: 50px;
  background-color: white;
  border: 3px solid #0E0042;
}
.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
}
.hero .container .hero__head {
  font-size: 48px;
  font-weight: 300;
}
.hero .container h3 {
  font-size: 24px;
  font-weight: 500;
  color: rgb(111, 101, 151);
}
.hero .container .hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}
.hero .container .hero__button .hero__button__btn {
  border: none;
  border: 1px solid rgb(163, 154, 250);
  padding: 8px 20px 8px 20px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.hero .container .hero__button .hero__button__btn i {
  padding: 0 0 0 10px;
}
.hero .container .hero__button .hero__button__btn:hover {
  background-color: #867FCC;
  color: white;
}
.hero .container img {
  height: auto;
  width: 96%;
}
.hero .container .container__find .container__head {
  font-size: 32px;
  font-weight: 300;
}
.hero .container .container__find .container__find__des {
  font-size: 18px;
  color: rgb(111, 101, 151);
}
.hero .container .container__event {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  width: 650px;
}
.hero .container .container__event .container__find__arrow {
  position: fixed;
  bottom: 95px;
  font-size: 20px;
  right: 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: white;
  background-color: black;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
  z-index: 1;
}
.hero .container .container__event .event_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  margin: 0 auto;
  text-align: center;
}
.hero .container .container__event .event_first img {
  height: 150px;
  width: 150px;
}
.hero .container .container__event .event_first span {
  font-size: 20px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0px;
  border-bottom: 2px solid rgba(213, 209, 209, 0.5);
  position: sticky;
  top: 0;
  width: 100%;
  padding: 15px 10px 10px 40px;
  z-index: 999;
  background-color: white;
}
header img {
  height: 32px;
  width: 220px;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  text-transform: capitalize;
  font-weight: 500;
  padding: 10px 0 10px 0;
}
header ul li {
  position: relative;
}
header ul li a:hover {
  color: rgb(163, 154, 250);
}
header ul li a i {
  margin-left: 2px;
  font-size: 1rem;
}
header ul li a::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 0;
  height: 3px;
  width: 0;
  background-color: rgb(163, 154, 250);
  visibility: hidden;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
header ul li .li__inner {
  position: absolute;
  top: 100%;
  left: 0;
  width: 400px;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  margin-top: 5px;
  background-color: rgb(235, 234, 234);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: opacity 1s ease, -webkit-transform 0.5s ease;
  transition: opacity 1s ease, -webkit-transform 0.5s ease;
  transition: opacity 1s ease, transform 0.5s ease;
  transition: opacity 1s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}
header ul li .li__inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
  line-height: 1.6;
}
header ul li .li__inner ul li {
  position: relative;
}
header ul li .li__inner ul li a {
  color: black;
}
header ul li .li__inner ul li a i {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  padding: 0 10px 0 0;
  margin-left: 100px;
}
header ul li .li__inner ul li a::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  height: 3px;
  width: 100px;
  background-color: rgb(163, 154, 250);
  visibility: hidden;
  -webkit-transition: none;
  transition: none;
}
header ul li .li__inner ul li:hover a::after {
  visibility: visible;
}
header ul li .li__inner ul li .student__iner_list {
  background-color: #D3D0E5;
  content: "";
  position: absolute;
  top: -20px;
  left: 100%;
  height: auto;
  width: 300px;
  padding: 20px 0 20px 25px;
  border-radius: 20px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: opacity 2s ease, -webkit-transform 0.5s ease;
  transition: opacity 2s ease, -webkit-transform 0.5s ease;
  transition: opacity 2s ease, transform 0.5s ease;
  transition: opacity 2s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}
header ul li .li__inner ul li .student__iner_list ul li a::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  height: 3px;
  width: 100px;
  background-color: rgb(163, 154, 250);
  visibility: hidden;
  -webkit-transition: none;
  transition: none;
}
header ul li .li__inner ul li .student__iner_list ul li:hover a::after {
  visibility: visible;
}
header ul li .li__inner ul li:hover .student__iner_list {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
header ul li:hover .li__inner {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
header ul li:hover a::after {
  visibility: visible;
  width: 100%;
}
header ul .meet_btn {
  text-transform: capitalize;
  background-color: #0E0042;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  padding: 7px 28px 7px 28px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

footer {
  padding: 4rem 8rem 4rem 8rem;
  background-color: #0E0042;
  height: 100vh;
}
footer .footer__top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer .footer__top .footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
footer .footer__top .footer__left .logo {
  height: 50px;
  width: 300px;
}
footer .footer__top .footer__left .logo img {
  height: 100%;
  width: 100%;
}
footer .footer__top .footer__left .footer__link .footer__link__head {
  color: white;
  font-size: 24px;
  font-weight: 500;
}
footer .footer__top .footer__left .footer__link .footer__item a i {
  color: white;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}
footer .footer__top .footer__left .footer__link .footer__item a i:hover {
  background-color: green;
}

body {
  margin: 0 auto;
}