nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 32px;
    background-color: black;
    color: white;
}
nav .right {
    display: flex;
    justify-content: space-between;
    width: 600px;
}
nav .right a {
color: white;
font-size: 1.25rem;
font-weight: 500;
padding: 0.5rem;
text-transform: capitalize;
}
nav .right a:hover {
    background-color: orange;
    border-radius: 5px;
}